.p{
    font-size: 15px;
    color:hsl(220, 15%, 55%);
}
body{
  min-height: 100vh;   /*Flexbox aligns child items to the size of the parent container */
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* {
    font-family: 'Oufit';
    background-color: #ADD8E6;
    justify-content: center;
  }
  .qr-container{
    width: 300px;
    height: 470px;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
   position: relative;
  }
  .qr-image{
    width: 270px;
    height: 270px;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    margin-top: -60px;
 }
 .text{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  font-family: 'Outfit';
  padding: 18px 18px 18px 18px;
  margin-bottom: -30px;
 }
 .text-1{
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: hsl(0, 0%, 100%);
 }
 .text-2{
  align-items: center;
  font-weight: 400;
  font-size: 15px;
  background-color: hsl(0, 0%, 100%);
  color: #A9A9A9;
}